# NumPy

In [1]:
import numpy as np

#### Creating an array of 20 0's

In [2]:
np.zeros(20)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0.])

#### Creating an array of 20 1's

In [3]:
np.ones(20)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1.])

#### Creating an array containing 30 sixes

In [4]:
np.full(30,6)

array([6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6])

#### Creating an array of integers starting from 21 until 31

In [5]:
np.arange(21,32)

array([21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31])

#### Creating an array of all even integers from 2 to 60

In [6]:
np.arange(2,61,2)

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34,
       36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60])

#### Creating a 5x6 matrix with values ranging from 0 to 29

In [7]:
np.arange(0,30).reshape(5,6)

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29]])

#### Creating an identity matrix of shape 5x5

In [8]:
np.eye(5,5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

#### Using NumPy to generate a random set of 10 numbers between 0 and 1

In [9]:
print(np.random.rand(10))

[0.4353957  0.06884891 0.89926618 0.00257566 0.09920879 0.44472123
 0.17024027 0.66492669 0.59632895 0.76897083]

#### Using NumPy to generate an array of 15 random numbers sampled from a standard normal distribution

In [10]:
array15 = np.random.randn(15)
array15

array([-0.48495766,  0.98665933, -0.90780569,  2.7062446 , -0.73102328,
       -0.01154806,  0.9749244 ,  0.17564035,  0.01962112,  0.97601598,
       -1.70363754,  2.25835771, -4.1256827 ,  0.49991136,  1.05781405])

#### Creating the following 5x10 matrix with the values using arange,reshape and arithmetic operators:

In [11]:
np.arange(1,51).reshape(5,10)/100

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ]])

#### Creating an array of 30 linearly spaced points between 0 and 10:

In [12]:
np.linspace(0,10,30)

array([ 0.        ,  0.34482759,  0.68965517,  1.03448276,  1.37931034,
        1.72413793,  2.06896552,  2.4137931 ,  2.75862069,  3.10344828,
        3.44827586,  3.79310345,  4.13793103,  4.48275862,  4.82758621,
        5.17241379,  5.51724138,  5.86206897,  6.20689655,  6.55172414,
        6.89655172,  7.24137931,  7.5862069 ,  7.93103448,  8.27586207,
        8.62068966,  8.96551724,  9.31034483,  9.65517241, 10.        ])

## Numpy Indexing and Selections

In [13]:
simple_matrix = np.arange(1,101).reshape(10,10)
simple_matrix

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10],
       [ 11,  12,  13,  14,  15,  16,  17,  18,  19,  20],
       [ 21,  22,  23,  24,  25,  26,  27,  28,  29,  30],
       [ 31,  32,  33,  34,  35,  36,  37,  38,  39,  40],
       [ 41,  42,  43,  44,  45,  46,  47,  48,  49,  50],
       [ 51,  52,  53,  54,  55,  56,  57,  58,  59,  60],
       [ 61,  62,  63,  64,  65,  66,  67,  68,  69,  70],
       [ 71,  72,  73,  74,  75,  76,  77,  78,  79,  80],
       [ 81,  82,  83,  84,  85,  86,  87,  88,  89,  90],
       [ 91,  92,  93,  94,  95,  96,  97,  98,  99, 100]])

#### Retrieve the last 2 rows and first 3 column values of the above matrix using index & selection technique

In [14]:
simple_matrix[8:,0:3]

array([[81, 82, 83],
       [91, 92, 93]])

#### Retrieve the value 55 from the above matrix using index & selection technique

In [15]:
simple_matrix[5,4]

55

#### Retrieve the values from the 3rd column in the above matrix

In [16]:
simple_matrix[:,2]

array([ 3, 13, 23, 33, 43, 53, 63, 73, 83, 93])

#### Retrieve the values from the 4th row in the above matrix

In [17]:
simple_matrix[3,:]

array([31, 32, 33, 34, 35, 36, 37, 38, 39, 40])

#### Retrieve values from the 2nd & 4th rows in the above matrix

In [18]:
simple_matrix[[2,4],:]

array([[21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
       [41, 42, 43, 44, 45, 46, 47, 48, 49, 50]])

### Calculate the following values for the given matrix

#### Calculate sum of all the values in the matrix

In [19]:
np.sum(simple_matrix)

5050

#### Calculate standard deviation of all the values in the matrix

In [20]:
np.std(simple_matrix)

28.86607004772212

#### Calculate the variance of all values in the matrix

In [21]:
np.var(simple_matrix)

833.25

#### Calculate the mean of all values in the matrix

In [22]:
np.mean(simple_matrix)

50.5