In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
import re

<strong>There are some sentences, so "vec" will count the words in them and create a matrix. The algorithm will then turn the matrix into a dataframe and prodice a frequency count of the individual word.</strong>

In [2]:
texts = [
    "Penny bought bright blue fishes.",
    "Penny bought a bright blue and orange fish.",
    "The fish fished fish.",
    "I'm fishing fish.",
    "I hate blue bugs",
    "A blue bug ate a fish",
    "fish"
]

In [3]:
# Making a Count Vectorizer
vec = CountVectorizer()

In [4]:
# vectorizer, reads the text and shows the raw counts
matrix = vec.fit_transform(texts)
matrix.toarray()

array([[0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0],
       [1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 2, 1, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]], dtype=int64)

In [5]:
#vector pulls all of the individual words
vec.get_feature_names()

['and',
 'ate',
 'blue',
 'bought',
 'bright',
 'bug',
 'bugs',
 'fish',
 'fished',
 'fishes',
 'fishing',
 'hate',
 'orange',
 'penny',
 'the']

In [6]:
#the vector algorithm creates a datafram matrix with the frequency counts
results = pd.DataFrame(matrix.toarray(), columns=vec.get_feature_names())
results

,and,ate,blue,bought,bright,bug,bugs,fish,fished,fishes,fishing,hate,orange,penny,the
0,0,0,1,1,1,0,0,0,0,1,0,0,0,1,0
1,1,0,1,1,1,0,0,1,0,0,0,0,1,1,0
2,0,0,0,0,0,0,0,2,1,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0
5,0,1,1,0,0,1,0,1,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0